name: container

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Create additional environment variables
        run: |
          # get the tag and remove 'v' prefix
          TAG=${GITHUB_REF//refs\/tags\//}
          echo "RELEASE_VERSION=${TAG//v/}" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and publish container
        uses: docker/build-push-action@v2
        with:
          build-args: RELEASE_VERSION=${{ env.RELEASE_VERSION }}
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ${{ secrets.DOCKER_REPOSITORY }}:latest
            ${{ secrets.DOCKER_REPOSITORY }}:${{ env.RELEASE_VERSION }}
