---
name: Integration Tests

on: [workflow_dispatch]


jobs:
  test:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 12
      - name: Install Dependencies with NPM
        id: installation
        run: |
          npm ci --no-optional
      - name: Run Tests
        id: testing
        run: |
          npm run lint
          npm run test:ci
      - name: Add Coverage Report
        if: github.event_name == 'pull_request'
        id: coverage-report
        uses: 5monkeys/cobertura-action@v12
        continue-on-error: true
        with:
          path: coverage/cobertura-coverage.xml
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          minimum_coverage: 40
      - name: Upload Artifacts
        id: upload-artifacts
        uses: actions/upload-artifact@v2.3.1
        with:
          name: artifacts
          path: coverage
      - name: Run Integration Tests
        id: integration-testing
        env:
          TST_AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          TST_AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          BUILD_ACCT_AWS_ACCESS_KEY_ID: ${{ secrets.BUILD_ACCT_AWS_ACCESS_KEY_ID }}
          BUILD_ACCT_AWS_SECRET_ACCESS_KEY: ${{ secrets.BUILD_ACCT_AWS_SECRET_KEY_ID }}
        run: |
          npm run test:integration
